<!DOCTYPE html>
<!-- UPDATE ITEM PAGE -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <form action="/updated">
        <input type="text" name="id" value={{title}} style="display: none;"><br>
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder={{name}}><br>
        <label for="price">Price</label><br>
        <input type="number" name="price" placeholder={{price}} ><br>
        <label for="qty">Quantity</label><br>
        <input type="number" name="qty" placeholder={{qty}}><br>
        <label for="description">Description</label><br>
        <input type="text" name="description" placeholder={{description}}><br>
        <input type="submit" value="Update"><br>
    </form>
</body>
</html>