<!DOCTYPE html>
<!-- UPDATE ITEM PAGE -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/updated">
        <input type="text" name="id" value={{title}} style="display: none;">
        <input type="text" name="name" placeholder={{name}}>
        <input type="number" name="price" placeholder={{price}} >
        <input type="number" name="qty" placeholder={{qty}}>
        <input type="text" name="description" placeholder={{description}}>
        <input type="submit" value="Update">
    </form>
</body>
</html>